<div class="background">
  <div class="create-user-alert">
    <span class="close" (click)="cerrarCrearUsuario()">&times;</span>
    <h2>Añadir Nuevo Usuario</h2>
    <form>
      <div class="form-group" [hidden]="crearNuevoUsuario">
        <label>Seleccionar Usuario Existente:</label>
        <select
          class="form-control"
          [(ngModel)]="usuarioSeleccionado"
          name="usuarioSeleccionado" required [(ngModel)]="data.idUser">
          <option value=0 disabled selected>Seleccionar Usuario</option>
          <option *ngFor="let user of users" [value]=user.id>{{ user.firstName }} {{ user.firstName }}</option>
        </select>
      </div>
      <div class="form-check">
        <input
          type="checkbox"
          class="form-check-input"
          id="crearNuevoUsuario"
          [(ngModel)]="crearNuevoUsuario"
          name="crearNuevoUsuario"
        />
        <label class="form-check-label" for="crearNuevoUsuario"
          >Crear Nuevo Usuario</label
        >
      </div>
      <div class="form-group" [hidden]="!crearNuevoUsuario">
        <label for="nombre">Nombre:</label>
        <input
          type="text"
          class="form-control"
          id="nombre"
          [(ngModel)]="nuevoUsuario.firstName"
          name="nombre"
          required
        />
      </div>
      <div class="form-group" [hidden]="!crearNuevoUsuario">
        <label for="apellido">Apellido:</label>
        <input
          type="text"
          class="form-control"
          id="apellido"
          [(ngModel)]="nuevoUsuario.lastName"
          name="apellido"
          required
        />
      </div>
      <div class="form-group" [hidden]="!crearNuevoUsuario">
        <label for="correo">Correo:</label>
        <input
          type="email"
          class="form-control"
          id="correo"
          [(ngModel)]="nuevoUsuario.email"
          name="correo"
          required
        />
      </div>
      <button type="submit" class="btn btn-primary" (click)="guardarUsuario()">
        Guardar
      </button>
    </form>
  </div>
</div>
