<div class="buttons">
  <button (click)="goBack()" class="back-button">Volver Atrás</button>
  <button (click)="openNewExpense()" id="addExpenseBtn">Añadir Gasto</button>
  <button (click)="openNewUser()" id="addUserBtn">Añadir Usuario</button>
  <button (click)="openResult()" id="calculateBtn">Calcular</button>
</div>

<section id="expenses">
  <h2>Listado de Gastos</h2>
  <ul id="expenseList">
    <li class="expense-item" *ngFor="let spent of expenses"expenses>
      <div class="expense-details">
        <div class="expense-info">
          <span class="payer">{{getNameById(spent.idUser)}}</span>
          <span class="date">{{spent.creationDate}}</span>
        </div>
      </div>
      <div class="expense-details">
        <span class="additional-field">{{ spent.amount }} €</span>
        <p class="description">
          {{spent.description}}
        </p>
      </div>
    </li>
  </ul>
</section>

<app-add-expense
  *ngIf="showNewExpense"
  (cerrar)="closeNewExpense()"
></app-add-expense>
<app-add-user
  *ngIf="showNewUser"
  (cerrar)="closeNewUser()"
></app-add-user>
<app-show-result
  *ngIf="showResult"
  (cerrar)="closeResult()"
></app-show-result>
